.btn-squares {
  width: 100%;
  height: 100%;
  background-image: url(https://c8.alamy.com/compes/2gp8197/papel-cuadrado-blanco-textura-de-hoja-o-fondo-hoja-de-cuaderno-en-blanco-perfecta-para-el-concepto-escolar-2gp8197.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  font-family: 'Times New Roman', Times, serif;
  border: 3px solid rgb(207, 207, 207);
  border-radius: 15px;
}

.opacity-square {
  opacity: 50%;
}

.active-square {
  opacity: 100%;
  color: black;
}