.grid-container {
  padding: 50px, 20px, 80px, 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;


  .grid-item-blue {
    background: blue;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-purple {
    background: purple;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-green {
    background: green;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-orange {
    background: rgb(255, 145, 0);
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-red {
    background: red;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-yellow {
    background: rgb(255, 230, 0);
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-pink {
    background: magenta;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-grey {
    background: grey;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .grid-item-brown {
    background: brown;
    text-align: center;
    border: black 5px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
}