.container {
  width: 100%;
  height: 100vh;


  .title {
    text-align: center;
    padding: 10px 0 20px 0;
    color: white;
    font-size: 25px;

    .link {
      text-decoration: none;
    }

    .h1-title {
      color: white;
      text-decoration: none;
    }

    @media (max-width: 700px) {
      text-align: center;
      font-size: 15px;
    }
  }

  .game {
    display: grid;
    grid-template-columns: 70% 20%;
    height: 85%;
    grid-gap: 20px;
    justify-content: center;


    @media (max-width: 700px) {
      grid-template-columns: 100%;
      grid-template-rows: 70% 20%;
    }

    .grid-container {
      padding: 50px, 20px, 80px, 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 20px;


      .grid-item-blue {
        background: blue;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;

      }

      .grid-item-purple {
        background: purple;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-green {
        background: green;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-orange {
        background: rgb(255, 145, 0);
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-red {
        background: red;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-yellow {
        background: rgb(255, 230, 0);
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-pink {
        background: magenta;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-grey {
        background: grey;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .grid-item-brown {
        background: brown;
        text-align: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
      }
    }

    .buttons-container {
      padding: 20px;
      padding-top: 100px;
      padding-bottom: 100px;
      display: grid;
      grid-template-rows: minmax(100px, auto);
      grid-gap: 20px;
      width: 100%;
      align-items: center;


      .btn-next {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-size: 25px;
        background-color: #333;
        color: white
      }

      .btn-present {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-size: 25px;
        background-color: #000080;
        color: white
      }

      .btn-previous {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-size: 25px;
        background-color: #333;
        color: white;

      }
    }
  }

  .opacity {
    opacity: 50%;
  }

  .active {
    opacity: 100%;
  }
}