.btn-next {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 25px;
  background-color: #333;
  color: white
}

.btn-present {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 25px;
  background-color: #000080;
  color: white;
  margin: 20px 0 20px 0;
}

.btn-previous {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 25px;
  background-color: #333;
  color: white;

}

.active-btn-control {
  opacity: 100%;
}

.opacity-btn-control {
  opacity: 50%;
}