.grid-box {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 94vh;


  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 50px;
    padding-bottom: 20px;

  }

  .btn-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    justify-content: space-between;



    .winner-title {
      margin-top: 20px;
      font-size: 25px;
      color: white;
      background-color: red;
      padding: 5px;
      width: 100%;
      border-radius: 15px;
    }

    .btn-control {
      margin: 10px 0 10px 0;
      width: 100%;
      height: 50px;
      border-radius: 15px;
      background-color: #000080;
      color: white;
      font-size: 25px;
    }

    .next-move {
      .title {
        margin-bottom: 20px;
      }

      .box {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150px;
        font-family: 'Times New Roman', Times, serif;
        background-color: #de3500;
      }
    }
  }


}

.title {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 20px;

  .link {
    text-decoration: none;
  }

  .h1-title {
    color: white;
    text-decoration: none;
  }
}