.gameColors {
  //background-image: url('https://fondosmil.com/fondo/31314.jpg');
  // background-image: url('https://fondosmil.com/fondo/28255.jpg');
  background-image: url('../../images/Blue.jpg');
}