.body {
  //background-image: url('https://fondosmil.com/fondo/31314.jpg');
  //background-image: url('https://fondosmil.com/fondo/28255.jpg');
  background-image: url('../../images/Blue.jpg');
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;


  .title {
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .link {
      text-decoration: none;
    }

    h2 {
      margin-top: 15px;
      color: white;
      text-decoration: none;
    }

    img {

      width: 450px;
      height: 350px;
      border-radius: 10px;

    }


  }
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);

  color: #fff;
  animation: layers1 2s linear infinite alternate;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 2s linear infinite alternate;
  }
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }


  100% {
    box-shadow: 80px 80px 0 -4px;
  }
}

@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-100px, -100px) scale(1);
  }
}